@media (max-width: $width-mobile) {
  .main__menu-item {
    .filter-icon {
      display: block; // Muestra el ícono en pantallas móviles
    }
    .filter-menu {
      display: none; // Oculta el menú en pantallas móviles
    }
  }

  .filter-menu {
    position: absolute;
    width: 124px;
    top: 42px;
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; // Asegura que los ítems ocupen todo el ancho disponible
    flex-direction: column; // Alinea los ítems verticalmente
  }

  .filter-menu-item {
    width: 100%; // Asegura que el ítem ocupe todo el ancho del contenedor
    display: block;
    margin: 5px 0;
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left; // Alinea el texto a la izquierda
    box-sizing: border-box; 
    &.active {
      background-color: $primary-color;
      color: white;
    }
    &:hover {
      background-color: $hover-background-color;
    }
  }
}
