.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:$primary-color;
  border-bottom: 1px solid $border-color;
  font-family: $font-family;
  color: $text-color;
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  flex: 1;
  cursor: pointer;
}

.header__logo img {
  width: 38px;
  height: 40px;
}

.header__nav {
  flex: 4 1;
}
.header__nav a {
  text-decoration: none;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
  line-height: 17.07px;
  text-align: left;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

.header__nav a.active-link {
  color: #eb0a1e;
  border-bottom: 2px solid #eb0a1e;
}

.header__nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__nav li {
  margin: 0 $padding-medium;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: $width-mobile) {
  .header__nav ul {
    display: none;
  }

  .header__nav .menu-button {
    display: block;
    font-size: $font-size-large;
    cursor: pointer;
  }

  .header__nav .menu-button span {
    margin-left: 10px;
  }
}