// highlight
.highlight {
  display: flex;
  flex-direction: column;
  gap: $margin-medium; // Reemplaza 16px con la variable

  &__row {
    display: flex;
    justify-content: space-between;
    padding: $padding-large; // Reemplaza 42px con la variable
    gap: $margin-large; // Reemplaza 55px con la variable
    flex-wrap: wrap; // Asegura que las columnas se envuelvan en pantallas más pequeñas

    & > .highlight__column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: $margin-small; // Reemplaza 8px con la variable
      min-width: 0; // Permite que las columnas se reduzcan en tamaño si es necesario
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $margin-small; // Reemplaza 8px con la variable

    img {
      width: 80%;
      height: auto;
      max-width: $highlight-max-width; // Reemplaza 500px con la variable
      max-height: $highlight-max-height; // Reemplaza 300px con la variable
      object-fit: cover;
      border-radius: $border-radius; // Reemplaza 4px con la variable
    }

    h3 {
      font-family: $font-family;
      font-weight: $font-weight-semibold; // Reemplaza 600 con la variable
      font-size: $font-size-xlarge; // Reemplaza 20px con la variable
      margin: 0;
    }

    .highlight__content {
      font-family: $font-family;
      font-weight: $font-weight-normal; // Reemplaza 400 con la variable
      font-size: $font-size-medium; // Reemplaza 16px con la variable
    }
  }
}

// Estilos para pantallas móviles
@media (max-width: $width-mobile) {
  .highlight {
    .highlight__row {
      flex-direction: column;
      gap: $margin-medium; // Reemplaza 24px con la variable

      & > .highlight__column {
        width: 100%;
      }
    }
  }
}
