// highlight
.highlight {
  display: flex;
  flex-direction: column;
  gap: $margin-medium; 

  &__row {
    display: flex;
    justify-content: space-between;
    padding: $padding-large; 
    gap: $margin-large; 
    flex-wrap: wrap; // Asegura que las columnas se envuelvan en pantallas más pequeñas

    & > .highlight__column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: $margin-small; 
      min-width: 0; // Permite que las columnas se reduzcan en tamaño si es necesario
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $margin-small; 

    img {
      width: 80%;
      height: auto;
      max-width: $highlight-max-width;
      max-height: $highlight-max-height;
      object-fit: cover;
      border-radius: $border-radius;
    }

    h3 {
      font-family: $font-family;
      font-weight: $font-weight-semibold;
      font-size: $font-size-xlarge; 
      margin: 0;
    }

    .highlight__content {
      font-family: $font-family;
      font-weight: $font-weight-normal; 
      font-size: $font-size-medium; 
    }
  }
}

// Estilos para pantallas móviles
@media (max-width: $width-mobile) {
  .highlight {
    .highlight__row {
      flex-direction: column;
      gap: $margin-medium;

      & > .highlight__column {
        width: 100%;
      }
    }
  }
}
