.main {
  padding: 1rem;
  box-sizing: border-box;

  &__title {
    text-align: left;
    margin-bottom: 38px;
    font-family: 'Montserrat', sans-serif;
    line-height: 57px;
    font-size: 25px;
    font-weight: 700;
    color: #191919;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
    padding: 5px;
    border-bottom: 1px solid #cccccc;

    .main__menu-item {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #191919;
    }

    .main__tabs {
      display: flex;
      width: 541px;
      height: 31px;
      margin-left: 41px;
      align-items: center;

      .tab-button {
        background: #ffffff;
        padding: 0.5rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #191919;
        width: auto;
        gap: 60px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;
        border-radius: 22px;

        &:hover {
          background-color: #f7f7f7;
        }
      }
    }

    .main__sort {
      display: flex;
      align-items: center;
      margin-left: auto; /* Empuja el menú 'Ordenar por' al extremo derecho */

      span {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste de columnas responsivo */
    gap: 1rem;
    position: relative; /* Asegura que el Loader se posicione correctamente */

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%; /* Asegura que la imagen ocupe todo el espacio del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        max-height: 215px; /* Limita la altura máxima */
        object-fit: cover;
      }
    }
  }

  // Estilos para pantallas móviles
  @media (max-width: $width-mobile) {
    &__menu {
      .main__tabs {
        display: none; // Oculta las pestañas en pantallas móviles
      }

      .main__menu-item {
        margin-right: 10rem; // Ajusta el espaciado si es necesario
      }

      .main__sort {
        margin-left: 0;
        span {
          font-size: 16px; // Ajusta el tamaño de la fuente si es necesario
        }
      }
    }

    &__gallery {
      grid-template-columns: 1fr; // Muestra una columna en pantallas móviles
      grid-template-rows: repeat(auto-fit, minmax(250px, auto)); // Ajusta las filas para pantallas móviles
    }
  }
}
