.main {
  padding: $padding-medium;
  box-sizing: border-box;

  &__title {
    text-align: left;
    margin-bottom: $margin-large;
    font-family: $font-family;
    line-height: 57px;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    color: $text-color;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-bottom: $margin-large;
    gap: $padding-medium;
    padding: $padding-small;
    border-bottom: 1px solid $menu-border-color;

    .main__menu-item {
      font-family: $font-family;
      font-size: $font-size-small;
      font-weight: $font-weight-semibold;
      color: $text-color;
      display: flex;
      align-items: center;
      position: relative;

      .filter-icon {
        margin-left: $padding-small;
        width: 11px;
        display: none; // Oculta el ícono por defecto
      }

      .filter-menu {
        position: absolute;
        width: 124px;
        top: 42px;
        background: $menu-background-color;
        border: 1px solid $menu-border-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        z-index: 10;
        margin-left: -5px;
        display: none; /* Oculta el menú por defecto */
        padding: 0;
        box-sizing: border-box;

        .filter-menu-item {
          padding: $padding-small $padding-medium;
          font-family: $font-family;
          font-size: $font-size-small;
          color: $text-color;
          background: $menu-background-color;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
          text-align: left;

          &.active {
            background-color: $active-background-color;
          }

          &:hover {
            background-color: $hover-background-color;
          }
        }
      }
    }

    .main__tabs {
      display: flex;
      width: auto;
      height: 31px;
      margin-left: 41px;
      align-items: center;
      gap: 0.5rem;

      .tab-button {
        background: $menu-background-color;
        padding: $padding-small $padding-medium;
        font-family: $font-family;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        color: $text-color;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;
        border-radius: 22px;
        border: 2px solid transparent; 

        &.active {
          background-color: $active-background-color;
        }

        &:hover {
          background-color: $hover-background-color;
        }
      }
    }

    .main__sort {
      display: flex;
      align-items: center;
      margin-left: auto;
      position: relative;

      span {
        font-family: $font-family;
        font-size: $font-size-small;
        font-weight: $font-weight-semibold;
        color: $text-color;
      }

      .sort-icon {
        margin-left: $padding-small;
        width: 11px;
        cursor: pointer;
      }

      .sort-menu {
        position: absolute;
        width: 186px;
        height: auto;
        top: 29px;
        right: -6px;
        background: $menu-background-color;
        border: 1px solid $menu-border-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        z-index: 10;

        .sort-menu-item {
          padding: $padding-small $padding-medium;
          font-family: $font-family;
          font-size: $font-size-small;
          color: $text-color;
          background: $menu-background-color;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &.active {
            background-color: $active-background-color;
          }

          &:hover {
            background-color: $hover-background-color;
          }
        }
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $padding-medium;
    position: relative;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        max-height: $card-height;
        object-fit: cover;
      }
    }
  }

  @media (max-width: $width-mobile) {
    &__menu {
      .main__tabs {
        display: none; // Oculta las pestañas en pantallas móviles
      }

      .main__menu-item {
        margin-right: 10rem;

        .filter-icon {
          display: block; // Muestra el ícono en pantallas móviles
        }
        .filter-menu {
          display: block; // Muestra el menú desplegable en móviles
        }
      }

      .main__sort {
        span {
          font-size: $font-size-medium;
        }
        .sort-menu {
          top: 43px;
        }
      }
    }

    &__gallery {
      grid-template-columns: 1fr; // Muestra una columna en pantallas móviles
      grid-template-rows: repeat(auto-fit, minmax(250px, auto));
    }
  }
}