.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // Asegura que el padding no afecte el ancho y alto del contenido
  }

  &__list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 60px;

    &:first-of-type {
      background-color: #fff; // Estilo para el primer contenedor si es necesario
    }

    &:last-of-type {
      background-color: #efeeef; // Color de fondo para el segundo contenedor
      margin-top: 30px; // Empuja el contenedor hacia abajo
      padding-top: 33px;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin: 10px 50px 10px 0;
        position: relative;

        a {
          font-family: 'Montserrat', sans-serif;
          font-size: 17px;
          line-height: 17px;
          font-weight: 400;
          color: #191919;
          text-decoration: none;
          cursor: pointer;
        }
      }

      .separator {
        width: 90%;
        height: 0.1px;
        background-color: #d1d1d1;
        margin: 10px 20px; // Ajusta el espacio alrededor de la línea
      }
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;

    // Alinea el texto y el ícono
    .side-menu__close-text {
      font-size: 16px;
      margin-right: 8px; // Espacio entre el texto y el ícono
    }

    .side-menu__close-icon {
      font-size: 24px;
    }
  }

  &__footer {
    width: 281px;
    height: 350px;
    background-color: #efeeef;
    margin-bottom: unset;
    margin-right: 121px;
  }
}

.side-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // Fondo oscuro con opacidad
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 999;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: $width-mobile) {
  .side-menu {
    width: 100vw; // Ancho completo en móviles
    height: 100vh; // Alto completo en móviles
    right: 0; // Alinea el menú a la derecha
    transform: translateX(100%); // Inicia fuera de la vista

    &.open {
      transform: translateX(0); // Mueve el menú a la vista completa
    }
  }

  .side-menu__close {
    top: 20px;
    right: 20px;
    font-size: 24px;

    .side-menu__close-text {
      font-size: 16px;
      margin-right: 8px; // Espacio entre el texto y el ícono
    }

    .side-menu__close-icon {
      font-size: 24px;
    }
  }

  .side-menu-overlay {
    width: 100vw;
    height: 100vh;
  }
}
