@import './variables';
@import './mixins';
@import './components/header';
@import './components/main';
@import './components/card';
@import './components/loader';
@import './components/side-menu';

.App {
  display: grid;
  grid-template-columns: 1fr; /* Crea una sola columna */
  grid-template-rows: auto 1fr; /* Fila para el header y una fila para el main */
  min-height: 100vh;
  padding: 10px;
}

.header {
  grid-row: 1; /* El header en la primera fila */
}

.main {
  grid-row: 2; /* El main en la segunda fila */
}
.footer {
  height: 50px;
  background-color: #000000; // Color de fondo negro
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
