@import './variables';
@import './mixins';
@import './components/header';
@import './components/main';
@import './components/card';
@import './components/loader';
@import './components/side-menu';
@import './components/card-details';
@import './components/carousel';
@import './components/highlight';
@import './components/filter-menu';
@import './components/sort-menu';

.App {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr; 
  min-height: 100vh;
  padding: $padding-medium;
}


.footer {
  height: 50px;
  background-color:$loader-border-top-color;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}